.float{
  z-index: 1;
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  right:40px;
  background-color:#F44336;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  box-shadow: 2px 2px 3px #999;
}

.my-float{
  margin-top:22px;
}

.no-copy {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
}

.img{
  cursor: pointer;
}

.form-box {
  width: 600px;
  margin: 5% auto;
}
@media (max-width: 768px) {

  .form-box {
    width: 90%;
    margin-top: 20px;
  }
}

.form-box-body {
  background: #fff;
  padding: 20px;
  border-top: 0;
  color: #666;
}

.form-box-body .form-control-feedback {
  color: #777;
}

.form-box-msg {
  margin: 0;
  text-align: center;
  padding: 0 20px 20px 20px;
}
